:root {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

  --primary: #0c3806;
  --secondary: #058a00;
  --terceary: #008600;
}

body{
  background-color: black;  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
